<!-- views/partials/messages.ejs -->
<% if(locals.success_msg && success_msg.length > 0) { %>
    <div class="alert alert-success">
      <%= success_msg %>
      <button class="close-btn">&times;</button>
    </div>
  <% } %>
  
  <% if(locals.error_msg && error_msg.length > 0) { %>
    <div class="alert alert-danger">
      <%= error_msg %>
      <button class="close-btn">&times;</button>
    </div>
  <% } %>
  
  <% if(locals.error && error.length > 0) { %>
    <div class="alert alert-danger">
      <%= error %>
      <button class="close-btn">&times;</button>
    </div>
  <% } %>
  
  <% if(locals.errors && errors.length > 0) { %>
    <div class="alert alert-danger">
      <% errors.forEach(function(error) { %>
        <p><%= error.msg %></p>
      <% }); %>
      <button class="close-btn">&times;</button>
    </div>
  <% } %>